body {
	
	height: 100%;
	overflow-x: hidden;
	overflow-y: ;

	
}

html {
	height: 100%;
  
  
}



/*--fim página horimiya--*/
/* barra de navegação */
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item
.nav-link {
	color: white;
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item
.nav-link:hover {
	color: white;
	background: #753DC6 ;
	border-radius: 5px;


}

/* area de conteudo */
.conteudo, .conteudo_paginas {
   background: white;
   margin-top: 20px;
   padding: 10px;
   border: double 2px floralwhite;*/
   border-radius: 5px;
   color: black;



}

/*Tema escuro*/
.tema, .tema_paginas {
	
	background: black;
	color: white;
}

.tema section {
	background: black;
	color: white;
}

.tema section h1 {
	background: #753DC6;
}



.escuro:hover{
	
	background: #5B5B5B ;
	cursor: default;
	
}

.tema #escuro {
	display: none;
}

/* tema  claro*/
.claro {
	background: white;
}
.claro:hover {
	background: #EEEEEE;
	cursor: default;
}

#claro {
	display: none;
}

.tema #claro {
	display: block;
}

  
 


/*----------*/




.conteudo_paginas h1 {
	border-radius: 6px;
}

.conteudo img, .conteudo_paginas img {
	width: 600px;
	height: 320px;
	margin-bottom: 10px;
	
}

.conteudo h4 {
	color: #0B408B;
	margin-bottom: 0;
	font-style: italic;

}

.conteudo a {
   color: #0B408B;
   text-decoration: none;
   margin: 5px;

}

.conteudo h1 {
	background:blue;
	color: white;
	border-radius: 5px;
	margin-top: -20px;
	font-style: italic;
}





button.navbar-toggler {
	color: #753DC6;

}

/*#postagens_recentes {
	background: black;
	color: white;
	padding: 5px;

	margin-bottom: -15px;
	border-radius: 7px;
	font-style: italic;
	font-size: 20px;

}*/
/*__paralax__*/

.caixa1,.caixa2,.caixa3,.caixa4,.caixa5 {
	height: 100%;
	
	
}
.caixa1 {
	
	background: url("imagens/SpyXfamily.jpg") no-repeat;
	background-attachment: fixed;
	
}

.caixa2 {
	
	background:  url("imagens/anime.jpg") repeat-x;
	background-attachment: fixed;
	
}

.caixa3 {
	
	background: url("imagens/Easterhands (@Easterhandz) _ Twitter.jpg") repeat-x;
	background-attachment: fixed;
	
}

.caixa4 {
	background: url("imagens/tobi.jpg") no-repeat;
	background-attachment: fixed;
}
.caixa5 {
	background: url("imagens/moriaty.jpg") no-repeat;
	background-attachment: fixed;
}

@media (max-width: 767px) {
	.caixa1 {
		background: url("imagens/clinok.jpg") no-repeat;
		background-attachment: fixed;
	}
}

@media (max-width: 500px) {
	.caixa1 {
		background: url("imagens/cybr.jpg") no-repeat;
		background-attachment: fixed;

	}
}

@media (max-width: 767.98px) {
	.caixa2 {
		background: url("imagens/Yamato.jpg") no-repeat;
		background-attachment: fixed;
	}
}

@media (max-width: 767.98px) {
	.caixa3 {
		background: url("imagens/Rorona zoro.jpg") no-repeat;
		background-attachment: fixed;
	}
}

@media (max-width: 767.98px) {
	.caixa4 {
		background: url("imagens/Anime_bleach.jpg") repeat-y;
		background-attachment: fixed;
	}
}

@media (max-width: 767.98px) {
	.caixa5 {
		background: url("imagens/dbz.jpg") no-repeat;
		background-attachment: fixed;
	}
}

@media (min-width: 1000px) {
	.conteudo h1:hover {
		background: #753DC6;
	}

	.conteudo img {
		background: blue;
	}

	.conteudo img:hover {
		background: #753DC6;
	}

	.tema section img {
	background: #753DC6;
    }




}



/*fotter*/
footer {
	background: black;
	color:white;
	font-family: italic;
	
}
/*página horimiya*/
body#horimiya {
	background: url("imagens/Horimiya February's Cover (Clean).jpg") fixed;

}

/*  tema paginas*/
.tema_paginas  section {
	background: black;
	color: white;
}

.tema_paginas section h1 {
	background:#753DC6 ;
}
/*---*/

.conteudo_paginas h1 {
	
	background: blue;
	color: white;
	margin-bottom: 20px;
	padding: 8px;
	font-style: italic;
	font-size: 1.2em;


} 

body#Chainsaw {

	background: url("imagens/bg_chainsaw.jpg") fixed;
}

/*kakkou no linazuke*/ 
body#kakkou {
	background: url("imagens/A-Couple-of-Cuckoos.jpg") fixed;
}

/*cyberpunk */
body#cyberpunk {
	background: url("imagens/cyberpunk.png") fixed;
}

body .btn {
	background: blue;
	color: white;
	width: 120px;
}

body.tema .btn {
	background: #753DC6;
	color: white;
	width: 120px;
}


